.add-books-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
}

h2 {
    color: #fff;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    color: #fff;
    margin: 5px 0;
}

input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
}

button {
    padding: 10px;
    background-color: #ff7eb3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #ff5189;
}
